<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="org.decentipede.eclipse.debug.extensions.commands.category">
      </category>
            <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%ActionDefinition.allReferences.description"
            helpContextId="all_references_action_context"
            id="org.eclipse.jdt.debug.ui.commands.AllReferences"
            name="%ActionDefinition.allReferences.name">
      </command>

   </extension>
   
   -->
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.decentipede.debug.extensions.variableContribution"
            objectClass="org.eclipse.jdt.debug.core.IJavaVariable">
                     <menu
                           icon="icons/smiley.gif"
                           id="decentipede.debug.extensions.variable.menu"
                           label="Inspect">
            <separator
                  name="group1">
            </separator>
         </menu>
            <action
                  id="org.decentipede.eclipse.debug.extensions.show.class.loader"
                  menubarPath="decentipede.debug.extensions.variable.menu/group1"
                  class="org.decentipede.debug.extensions.action.InspectClassLoaderActionDelegate"
                  label="Classloader"                 
                  >
                                             <enablement>

                                 <systemProperty
                                       name="org.eclipse.jdt.debug.ui.debuggerActive"
                                       value="true">
                                 </systemProperty>

            </enablement>
            </action>
            <action
                  id="org.decentipede.eclipse.debug.extensions.show.class.loader"
                  menubarPath="decentipede.debug.extensions.variable.menu/group1"
                  class="org.decentipede.debug.extensions.action.InspectClassObjectActionDelegate"
                  label="Class Object"                 
                  >
                                             <enablement>

                                 <systemProperty
                                       name="org.eclipse.jdt.debug.ui.debuggerActive"
                                       value="true">
                                 </systemProperty>

            </enablement>
            </action>
         </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.decentipede.eclipse.debug.extensions.threadContributions"
            objectClass="org.eclipse.jdt.debug.core.IJavaThread">
         <menu
               icon="icons/smiley.gif"
               id="org.decentipede.eclipse.debug.extensions.thread"
               label="Inspect">
         </menu>
         <action
               class="org.decentipede.eclipse.debug.extensions.concurrency.InspectThreadObject"
               id="org.decentipede.eclipse.debug.extensions.action1"
               label="Thread Object"
               menubarPath="org.decentipede.eclipse.debug.extensions.thread/group1"
               tooltip="Inspect the properties of the Java object representing the thread">
         </action>
         <menu
               icon="icons/smiley.gif"
               id="org.decentipede.eclipse.debug.extensions.threadNavigate"
               label="Navigate to">
         </menu>
         <action
               class="org.decentipede.eclipse.debug.extensions.actions.NavigateToFrameHoldingMonitor"
               id="org.decentipede.eclipse.debug.extensions.navigateToFrameHoldingMonitor"
               label="Frame Holding Monitor"
               menubarPath="org.decentipede.eclipse.debug.extensions.threadNavigate/group1">
         </action>
         <action
               class="org.decentipede.eclipse.debug.extensions.NavigateToThreadBlocking"
               id="org.decentipede.eclipse.debug.extensions.navigateToThreadBlocking"
               label="Thread(group) blocking"
               menubarPath="org.decentipede.eclipse.debug.extensions.threadNavigate/group1"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.decentipede.eclipse.debug.extensions.frameContributions"
            objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
         <action
               class="org.decentipede.debug.extensions.action.DecompileMethodActionDelegate"
               icon="icons/smiley.gif"
               id="org.decentipede.eclipse.debug.extensions.action1"
               label="Decompile current method"
               style="push"
               tooltip="Decompile Java code from byte codes from the debug connection">
         </action>
      </objectContribution>
<!--      <objectContribution
            id="org.decentipede.eclipse.debug.extensions.frameFilters"
            objectClass="org.eclipse.jdt.debug.core.IJavaStackFrame">
         <menu
               id="org.decentipede.eclipse.debug.extensions.frameFiltersMenu"
               label="Stack Frame Filters">
            <separator
                  name="filters">
            </separator>
            <separator
                  name="additions">
            </separator>
            
            <separator
                  name="settings">
            </separator>
            
         </menu>
         
         <action
               class="org.decentipede.eclipse.debug.extensions.popup.actions.FilterSyntethicMethods"
               id="org.decentipede.eclipse.debug.extensions.filterSyntethicMethods"
               label="Filter Syntethic Methods"
               menubarPath="org.decentipede.eclipse.debug.extensions.frameFiltersMenu/filters">
         </action>
         <action
               class="org.decentipede.eclipse.debug.extensions.popup.actions.EditFrameFilters"
               id="org.decentipede.eclipse.debug.extensions.editFrameFilters"
               label="Edit Filters ..."
               menubarPath="org.decentipede.eclipse.debug.extensions.frameFiltersMenu/settings">
         </action>
      </objectContribution> -->
      
   </extension>
            
            
           

<!--   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.decentipede.eclipse.debug.extensions.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension> -->
   
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="org.decentipede.eclipse.debug.extensions.menus.sampleMenu">
            <command
                  commandId="org.decentipede.eclipse.debug.extensions.commands.sampleCommand"
                  mnemonic="S"
                  id="org.decentipede.eclipse.debug.extensions.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.decentipede.eclipse.debug.extensions.toolbars.sampleToolbar">
            <command
                  commandId="org.decentipede.eclipse.debug.extensions.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="org.decentipede.eclipse.debug.extensions.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.decentipede.eclipse.debug.extensions.contribution1">
         <menu
               label="Debug Extensions"
               path="additions"
               id="org.decentipede.eclipse.debug.extensions.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Implementors"
               class="org.decentipede.eclipse.debug.extensions.popup.actions.ShowImplementors"
               menubarPath="org.decentipede.eclipse.debug.extensions.menu1/group1"
               enablesFor="1"
               id="org.decentipede.eclipse.debug.extensions.newAction">
         </action>
      </objectContribution>
   </extension> -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.debug.ui.JavaDebugPreferencePage"
            class="org.decentipede.eclipse.debug.extensions.preferences.DecentipedePreferences"
            id="org.decentipede.preferences"
            name="Decentipede">
            <keywordReference id="org.eclipse.debug.ui.general"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.decentipede.eclipse.debug.extensions.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.decentipede.eclipse.debug.handlers.StackFilter"
            description="Filter out stack frames"
            id="org.decentipede.eclipse.debug.extensions.StackFilter"
            name="StackFilter">
         <commandParameter
               id="org.decentipede.eclipse.debug.extensions.filterName"
               name="filterName"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            class="org.decentipede.eclipse.debug.extensions.popup.StackFiltersDynamicMenuBuilder"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            
            
            
            <menu
                  icon="icons/smiley.gif"
                  id="org.decentipede.eclipse.debug.extensions.menu2"
                  label="Stack Frame Filters"
                  tooltip="tooltip">
<!--                  <dynamic
                        id="org.decentipede.eclipse.debug.extensions.dynamic1" class="org.decentipede.eclipse.debug.extensions.popup.StackFiltersDynamicMenu">
                        
                  </dynamic> -->
                  <visibleWhen 
                        checkEnabled="true">
                        

                        	<instanceof
                              value="org.eclipse.jdt.debug.core.IJavaStackFrame">
                        	</instanceof>
                        	
  <!--                      	<systemProperty
                                       name="org.eclipse.jdt.debug.ui.debuggerActive"
                                       value="true">
                             </systemProperty> -->
                  </visibleWhen>
                  
            </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.decentipede.eclipse.debug.services.FrameFilterFactory">
         <service
               serviceClass="org.decentipede.eclipse.debug.services.IFrameFilter">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.decentipede.eclipse.debug.extensions.properties.ProcessExtendedPropertyPage"
            icon="icons/smiley.gif"
            id="org.decentipede.eclipse.debug.extensions.properties.samplePropertyPage"
            name="Process Information - Extended"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.debug.core.model.IDebugTarget">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
<!--   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
            class="org.decentipede.eclipse.debug.extensions.LogicalStructureTypeDelegate1"
            description="Show references back to GC roots"
            id="org.decentipede.eclipse.debug.extensions.gcRoots"
            modelIdentifier="org.decentipede.eclipse.debug.extensions.gcRoots">
      </logicalStructureType>
   </extension>
   <extension
         point="org.eclipse.debug.core.logicalStructureProviders">
      <logicalStructureProvider
            class="org.decentipede.eclipse.debug.extensions.LogicalStructureProvider1"
            modelIdentifier="org.decentipede.eclipse.debug.extensions.logicalStructureProvider1">
      </logicalStructureProvider>
   </extension> -->
   <!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Decentipede - Java Debug Extensions"
            visible="false"
            id="org.eclipse.jdt.debug.ui.DecentipedeActionSet">
         <menu
               label="Decentipede"
               path="additions"
               id="org.eclipse.ui.run">
            <separator
                  name="decentipedeGroup">
            </separator>
         </menu>
                  <action
               class="no.kantega.decentipede.debug.extensions.action.ShowClassLoaderActionDelegate"
               definitionId="org.eclipse.jdt.debug.ui.commands.ShowClassloader"
               helpContextId="all_references_action_context"
               icon="icons/full/elcl16/all_references.gif"
               id="org.eclipse.jdt.debug.ui.actions.ShowClassloader"
               label="Show classloader"
               menubarPath="org.eclipse.ui.run/jdtGroup"
               tooltip="Show the class loader of the object">
                           <enablement>
                              <and>
                                 <systemProperty
                                       name="org.eclipse.jdt.debug.ui.debuggerActive"
                                       value="true">
                                 </systemProperty>
                                 <systemProperty
                                       name="org.eclipse.jdt.debug.ui.supportsInstanceRetrieval"
                                       value="true">
                                 </systemProperty>
                                 <objectClass
                                       name="org.eclipse.jdt.debug.core.IJavaVariable">
                                 </objectClass>
                              </and>
            </enablement>
         </action>
         
    	</actionSet>
    	
    </extension> -->


</plugin>
